Source: theme-manager
Section: utils
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper-compat (= 13),
               desktop-file-utils,
               dh-python,
               gettext,
               libglib2.0-bin,
               gtk-update-icon-cache,
               meson,
               pkgconf,
               pybuild-plugin-pyproject,
               python3,
               python3-docutils,
               python3-sphinx,
               python3-sphinx-argparse
Standards-Version: 4.6.0
Homepage: https://hsbasu.github.io/theme-manager
#Vcs-Browser: https://salsa.debian.org/debian/theme-manager
#Vcs-Git: https://salsa.debian.org/debian/theme-manager.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: theme-manager
Architecture: all
Depends: gir1.2-gtk-3.0,
         gir1.2-appindicator3-0.1,
         redshift,
         ${python3:Depends},
         ${misc:Depends},
         ${sphinxdoc:Depends}
Suggests: theme-manager-doc
Description: Automatically change Themes
 A Python3-based GUI application
 to change different colour variants of GTK,
 Icon, Cursor and other themes.
 .
 This package installs the gui library for Python 3.

# Package: theme-manager-doc
# Architecture: all
# Description: documentation for theme-manager
#  Documentations for CLI and GUI environment for
#  Theme Manager.
