Source: theme-manager
Section: admin
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.5

Package: theme-manager
Architecture: all
Depends: python3,
         python3-gi,
         python3-configobj,
         python3-setproctitle,
         redshift,
         ${misc:Depends},
Description: Theme Manager
 A Python3-based GUI application
 to change different colour variants of GTK,
 Icon, Cursor and other themes.
